.container-card{
    margin: 40px 0 0 20px;
    background-color: var(--preto-acinzentado);
    width: 374px !important;
    height: 200px;
    border-radius: 8px;
}

.sugestao{
    margin-top: 24px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 204px;
    margin-left: 16px;
}

.card-link{
    display: flex;
    align-items: flex-start;
    color: var(--branco);
    height: 200px;
}

.card-imagem{
    width: 170px;
    height: 108%;
    object-fit: cover;
    object-position: -47px -48px;
    border-radius: 8px;
}

.card-nome{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22px 16px 8px 0;
}

.ajuste{
    width: 135px;
}

.card-texto{
    font-size: 32px;
    font-weight: 700;
}

.card-paragrafo{
    font-size: 14px;
    font-weight: 400;
    margin-right: 16px;
    opacity: 65%;
}

.card-icone__save{
    width: 24px;
}