.cabecalho{
    display: flex;
    justify-content: space-between;
    padding:64px 16px 0 16px;
}

.texto-inicio{
    color: var(--branco);
    font-size: 32px;
    font-weight: 700;
}

.texto-header{
    background: var(--rosa-gradiente);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.paragrafo-principal{
    font-size: 16px;
    font-weight: 400;
}

.inicio-configuracao{
    padding-right: 16px;
}

.configuracao{
    display: flex;
    justify-content: space-between;
}


/* Css dá página buscar */

.texto{
    color: var(--branco);
    font-size: 32px;
    font-weight: 700;

    margin-top: 32px;
}